.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background {
  width: 120%;
  display: block;
  animation: slide-and-rotate infinite 30s linear;
  z-index: -100;
}

.root {
  z-index: 100;
  position: absolute;
  width: 100%;
}

.sub-title {
  display: flex;
  align-content: center;
  padding: 20px 70px;
}

.change-class-button {
  font-family: sans-serif;
  font-size: 2em;
  letter-spacing: 4px;
  color: white;
  background-image: linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% );
  height: 30%;
  padding: 0.7% 2%;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
  transform: scale(1);
  animation: pulse 2s infinite;
  border-radius: 10%;
  margin-left: 20px;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

p {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  color: white;
  background: linear-gradient(90deg, #fff, rgb(0, 194, 177), #fff) no-repeat;
  background-size: 1000%;
  animation: animate 10s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: 100%;
  }
  50% {
    background-position: 50%;
  }
  100% {
    background-position: 0%;
  }
}

@keyframes slide-and-rotate {
  50% {
    transform: translate(-5%, -5%) rotate(3deg);
  }
  100% {
    transform: translate(0) rotate(0deg);
  }
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal-content {
  background: #8BC6EC linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 30%;
  max-height: 50%;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-title {
  animation: none;
  color: black;
  text-transform: none;
}

.modal-font {
  font-family: sans-serif;
  font-size: 13px;
  letter-spacing: 4px;
  overflow: hidden;
  color: black;
  padding: 10px;
  animation: none;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #7f7f7f;
  text-decoration: none;
  cursor: pointer;
}

.class-option {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 3%;
  width: 90%;
  margin: 1%;
}

.class-option:hover {
  background-color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}
