.legend-container {
    background-color: rgb(0,0,0,.7);
    width: 20%;
    height: 20%;
    z-index: 10;
    bottom: 5%;
    right: 3%;
    position: absolute;
    color: white;
}

.dot-red {
    display: inline-block;
    animation: glow-red 1s ease-in-out infinite alternate;
}

.dot-yellow {
    display: inline-block;
    animation: glow-yellow 1s ease-in-out infinite alternate;
}

.dot-green {
    display: inline-block;
    animation: glow-green 1s ease-in-out infinite alternate;
}

@keyframes glow-red {
    from {
        text-shadow: 0 0 2px #fff, 0 0 10px #ff213c, 0 0 7px #e60011, 0 0 10px #e65656, 0 0 15px #e60073, 0 0 15px #e60073, 0 0 15px #e60073;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 7px #ff002c, 0 0 10px #ff2457, 0 0 10px #ff776b, 0 0 15px #ff4da6, 0 0 15px #ff4da6, 0 0 20px #ff4da6;
    }
}

@keyframes glow-yellow {
    from {
        text-shadow: 0 0 2px #fff, 0 0 5px #ffbe00, 0 0 7px #e6dc00, 0 0 10px #dfe673, 0 0 10px #e60073, 0 0 15px #e60073, 0 0 15px #e60073;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 7px #ffe000, 0 0 10px #ffa200, 0 0 10px #bab900, 0 0 15px #ff4da6, 0 0 15px #ff4da6, 0 0 20px #ff4da6;
    }
}

@keyframes glow-green {
    from {
        text-shadow: 0 0 2px #5fd000, 0 0 5px #0bab00, 0 0 7px #00e614, 0 0 10px #00e683, 0 0 10px #e60073, 0 0 15px #e60073, 0 0 15px #e60073;
    }
    to {
        text-shadow: 0 0 5px #3aff00, 0 0 7px #00dcff, 0 0 10px #069300, 0 0 10px #00ff79, 0 0 15px #ff4da6, 0 0 10px #ff4da6, 0 0 20px #ff4da6;
    }
}

.font {
    font-family: sans-serif;
    font-size: 14px;
    overflow: hidden;
    color: white;
    background-size: 1000%;
    padding-left: 10%;
    font-style: normal;
}

.legend-content {
    text-align: left;
    padding-left: 20%;
    font-family: sans-serif;
    display: inline-grid;
    width: 80%;
}
